.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

header {
    display: flex;
    align-items: center;
    background-color: #7884d1ff;
    grid-area: header;
    color: white;
    padding: 10px;
}

.bell-svg, .member {
    padding: 10px;
}

.header-divider {
    border-left: 0.23px solid rgb(202, 202, 202);
    height: 35px;
}

.main-header {
    margin-right: auto;
}

nav {
    grid-area: navigation;
    background-color: #595a99ff;
    display: flex;
    flex-direction: column; 
}

.main {
    grid-area: main;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }
}

.main {
    display: grid;
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: 50%;
    }
    .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}