* {
    margin: 0;
}

html, body {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    background-color: #7884d1ff;
    color: white;
    padding: 10px;
    height: 60px;
}

.bell-svg, .member {
    padding: 10px;
}

.header-divider {
    border-left: 0.23px solid rgb(202, 202, 202);
    height: 35px;
}

.main-header {
    margin-right: auto;
}

.nav-main {
    grid-area: navigation;
    background-color: #595a99ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
}

a {
    padding-left: 20px;
}

.main {
    grid-area: main;
    display: grid;
    align-items: center;
    gap: 10px;
}

.headline, .tab {
    grid-column: -1 / -2;
    grid-row: 1;
}

.tab {
    background-color: black;
}

@media (min-width: 768px) {
    .grid-container {
        min-height: 100vh;
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    header {
        grid-area: header;
    }

    .nav-main {
        grid-area: navigation;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .main {
        grid-area: main;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full,
    .widget-container-half {
        width: 100%;
    }
}
